@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli, mulish', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: #674cc7;
    color: #fff;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.box {
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 1rem;
    box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform .9s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 45px;
}


